@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(0, 0, 0);
    height: 78vh;
    width: 100%;
    
}
.intro{
    background-image: url(../imgs/intro-680px.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.intro h1{
    margin-top: 10px;
    padding: 23px;
    text-align: left;
    font-size: 41px;
    color: white;
    text-shadow: black 6px 3px ;
    
}
.openLoginArea{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}






.loginArea.loginAreaOpen{
    left: 0px;
    transition: all ease 0.5s;
}


#fecharLogin{
    cursor: pointer;
    margin-top: 10%;
    margin-left: 70%;
}

.loginArea{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 5;
    left: -10000px;
    transition: all ease 0.7s;
    color: wheat;
}
.loginOrCadastro{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;   
    padding: 5px;
    margin-top: 50%;
}

.cadastro{
    display: flex;
    margin-bottom: 50%;
}


.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*Main*/
main{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}
main section{
    background-image: url(../imgs/resumo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 21rem;
}
.resumo{
    display: flex;
    flex-direction: column;
    
}
.resumo h2, 
.resumo h3{
    text-align: left;
    padding: 10px;
    margin-top: 10%;
    color: white;
    text-shadow: black 3px 3px;
}

/*footer*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
}
footer nav ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
}
footer nav ul a{
    text-decoration: none;
    color: white;
}
footer small{
    padding: 6px;
}


@media (min-width:768px) {
    .intro{
        flex-direction: row;
        align-items: center;
        background-image: url(../imgs/intro-1400px.jpg);
        background-position: left;
        background-size: cover;
    }
    .openLoginArea{
        height: 100%;
        width: 30%;
        transition: all ease 0.5s;
    }
    .openLoginArea:hover{
        width: 50%;
        transition: all ease 0.5s;
    }
    main section{
    background-image: url();
    background-position: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 28rem;
}
    .resumo{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 0;
    }
    .resumo h2, 
    .resumo h3{
        text-align: left;
        padding: 10px;
        margin-top: 5%;
        color: white;
        text-shadow: black 3px 3px;
        font-size: 45px;
    }
    footer{
        background-color: rgb(17, 17, 17);
    }
    footer nav ul{
    gap: 50px;
    justify-content: space-between;
    }
    footer p{
        padding: 10px;
    }

    .loginArea.loginAreaOpen{
    left: 0vw;
    transition: all ease 0.5s;
    background-color: brown;
    }
       .loginArea {
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        position: fixed;
        z-index: 5;
        left: -100vw;
        transition: all ease 0.7s;
        color: wheat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginOrCadastro{
    width: 80%;
    height: 50%;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 255, 255);
    
    }
    .login{ 
    padding: 5px;
    margin-top: 1px;
    }
    .cadastro{
    display: flex;
    margin-bottom: 0;
    }
}   
