@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(21, 75, 21);
    height: 100%;
    width: 100%;
    background-color: rgb(253, 176, 34);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(21, 75, 21);
    width: 100%;
    }
    header h1{
        margin-top: 23%;
        text-align: center;
        padding: 16px;
        color: white;
        font-size: 35px;
    }

.loginArea{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    
    flex-direction: column;
    
}
    #auth-ui{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(253, 176, 34);
        border-radius: 10px;
        width: 80%;
        height: 70%;
        box-shadow: rgba(0, 0, 0, 0.445) 4px 6px 4px;
        gap: 15px;
        margin-top: 50px;
    }
            #auth-ui h2{
                margin-top: 20px;
                font-size: 30px;
                }
                #auth-ui input{
                    width: 85%;
                    height: 1.6rem;
                    border-radius: 10px;
                    border: none;
                    text-align: center;
                }
                #auth-ui button{
                    width: 55%;
                    height: 21px;
                    cursor: pointer;
                    background-color: rgb(21, 75, 21);
                    border: none;
                    border-radius: 4px;
                    color: white;
                    margin-bottom: 10px;
                }   


@media (min-width:768px) {
    header{
        margin: 0;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
    }
    header h1{
        font-size: 57px;
        margin-top: 40%;
    }
    main{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .loginArea{
        border-radius: 20%;
        width: 40vw;
        height: 40vh;
        padding: 40px;
        }
        #auth-ui{
            font-size: 40px;
        }
            #auth-ui label{
                font-size: 35px;
            }
                #auth-ui input{
                    height: 10%;
                    width: 50%;
                    border-radius: 10px;
                    font-size: 30px;
                }
                    #auth-ui button{
                        width: 40%;
                        height: 2.3rem;
                        font-size: 30px;
                        border: none;
                        box-shadow: rgba(0, 0, 0, 0.418) 1px 1px;
                    }
        }

@media (min-width:1250px){
    body{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        display: flex;
    }
        header{
            height: 100%;
            align-items: center;
        }
            header h1{
                text-align: left;
                margin-top: 30px;
            }
        .loginArea{
            width: 100%;
            height: 100%;
            padding: 0;
            background-color: rgb(253, 176, 34);
        }
            
        main{
            height: 100%;
            width: 60%;
            
        }
}









